<form method="POST" action="">
    <div class="form-row">
        <div class="form-group col-md-6">
               
            <label for="title">Name :</label>
            <input type="text" class="form-control" name="name" value="{{edits.name}}">
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area :</label>
            <input type="text" class="form-control" name="area" value="{{edits.area}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Picture :</label>
            <input type="url" class="form-control" name="picture" id="picture" value="{{edits.picture}}"/>
        </div>
        <div class="form-group col-md-6">
            <label for="size">Size (in meter):</label>
            <input type="text" class="form-control" name="size" id="size" value="{{edits.size}}"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
         
            <label for="planet">Planet :</label>
            <select name="planet" class="custom-select" id="id_planet">
                    {% for planets in planets %}

                <option value="{{planets.id}}">id: {{planets.id}} Planet name{{planets.name}}</option>{% endfor %}

            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="movies">Movie :</label>
            <select name="movie" class="custom-select" id="id_movie">
                    {% for movie in movies %}
                <option value="{{movie.id}}">id:{{movie.id}} Movie title titre :{{movie.title}}</option>
               {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">x
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right">
        </div>
    </div>
</form>
