{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">Beast name </h1>
    </div>
    <div class="row">
        <div class="col-12">
              
            <a href="/beast/edit/{{ beasts.id }}" class="float-right">Edit</a>
           
        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">
               
            <img src="{{beasts.picture}}" class="img-fluid"/>
         
        </figure>
        <div class="col-12 col-md-8">
                
                <p>Name : Beast's name {{beasts.name}}</p>
                <p>Area : Beast's origin area{{beasts.area}}</p>
                <p>Size : Beast's size m{{beasts.size}}</p>
                <p>Planet : Beast's planet {{beasts.nameplanet}}</p>
                 <p>Movie(s) :Beast's movie{{ beasts.namemovie }}</p>
              
           
        </div>
    </div>
    <a href="/beast/list">Back</a>
{% endblock %}
